---
import Background from '../components/Background.svelte'
import Navbar from '../components/Navbar.svelte'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="keywords" content="Xylight,Blog,Developer" />
        <meta name="author" content="James Xylight" />
        <meta
            name="description"
            content="Xylight's blog to record his development path."
        />

        <title>{title}</title>
    </head>
    <body class="dark:bg-black dark:text-white bg-slate-50 text-slate-900">
        <Background />
        <Navbar />
        <div class="flex flex-col items-center justify-center">
            <slot />
        </div>
    </body>
</html>

<style>
    @font-face {
        font-family: 'Jetbrains Mono';
        font-display: swap;
        src: url('/Inter.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Jetbrains Mono';
        font-display: swap;
        src: url('/Inter-bold.woff2') format('woff2');
        font-weight: bold;
    }

    :root {
        font-family: 'Jetbrains Mono', sans-serif;
        color-scheme: dark;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }

    body {
        background-image: linear-gradient(
                rgba(255, 255, 255, 0.05) 1px,
                transparent 1px
            ),
            linear-gradient(
                90deg,
                rgba(255, 255, 255, 0.05) 1px,
                transparent 1px
            );
        background-size: 7em 7em;
    }

    @media (prefers-color-scheme: light) {
        body {
            background-image: linear-gradient(
                    rgba(0, 0, 0, 0.05) 1px,
                    transparent 1px
                ),
                linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
            background-size: 7em 7em;
        }

        :root {
            color-scheme: light;
        }
    }
</style>
